@media (max-width: 800px) {
    
    /* RIDE IT SECTION MOBILE VERSION */
    .ride__title{
        font-size: 10.79vw;
    }
    .ride-big-text{
        font-size: 2.83vw;
    }
    .item-point__text{
        font-size: 2.83vw;
    }
    .benefits__title{
        font-size: 2vw;
    }
}