@media (max-width: 800px) {
    
    /* SECTION ON DRIVING ELEMENTS MOBILE VERSION */
    .element-drive__image{
        width: 220px;
        margin-bottom: 22px;
    }
    .drive-title{
        font-size: 3.75vw;
    }
    .element-description{
        font-size: 2.50vw;
    }
}    