@media (max-width: 800px) {
    /* SUBSCRIBE SECTION MOBILE VERSION */
   .title-on-image{
    font-size: 10.53vw;
    }
    .text-on-image__big-text{
      margin: 25px 10%;
    }
    .big-text{
    font-size:2.4vw;
    }
}