
/* BEGIN BUILT TO MOVE */
.section__built-to-move{
    @extend %class-df_center;

    flex-direction: column;
    margin-top: 10px;
}
.built-to-move__title{
    margin-bottom: 22px;
    font-size: 4.11vw;
    line-height: 98%;
    text-align: center;
    letter-spacing: 2.7px;
    color: $color_dark-gray;
}
.image-bicycle-side{
    width: 80vw;
}
/* END BUILT TO MOVE SECTION */