
/*BEGIN FOOTER*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-top: 175px;
    padding-bottom: 132px;
    padding-bottom: 165px;
    background:$color-footer;
}

.footer__description {
    max-width: 720px;
}

.footer__title {
    margin-bottom: 34px;
    font-size: 4.93vw;
    line-height: 99%;
    text-align: center;
    letter-spacing: 2.7px;
    color: $color_dark-gray;
}

.footer__subtitle {
    margin: 0 110px;
    font-size: 1.32vw;
    line-height: 118%;
    text-align: center;
    color: $color_dark-gray;
   
}
/*END FOOTER*/