$color-subtitle: #8172A2;
$color-text-on-image: #FBF7F3; 
$color-text_link-hover: #eb6f4a;
$color-text_link-item: #8D867C;

$color-button-request: #7140EB;
 
$color-background: #FBF7F3; 
$color-background_hover-button: #bd4aeb;
$color-background_navigation: #ffffff;

$color-footer:#F7F0EA;

$color_dark-gray: #49464F;
$color_black: #000;