
/*ADAPTIVE*/
/*HEADER COMPUTER VERSION*/
@media (min-width: 1040px) {
    .menu__icon {
        display: none;
    }
    .container__navigation{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .menu__nav {
        display: flex;
        position: static;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 7px 0;
        background-color: transparent;
    }
    .navigation{
        border-radius: 9999px;
        background-color: #ffffff;
    }
    .navigation__links {
        max-height: 70px;
        text-align: right;
    }
    .links__container {
        display: inline-flex;
        padding-left: 50px;
        padding-right: 0px;
    }
    .links__container:last-child{
        padding-right: 7px;
    }
    .link-item{
        padding: 0px;
        color: #8D867C;
    }
    
    .link-item_active{
        color: #49464F;
    }
    
    
}
@media (max-width: 800px) {
    /* RIDE IT SECTION MOBILE VERSION */
   .title-on-image{
    font-size: 10.53vw;
}
    .text-on-image__big-text{
      margin: 25px 10%;
    }
    .big-text{
    font-size:2.4vw;
    }
    /* MOVE WITH IMPACT SECTION MOBILE VERSION */
    .title-on-image-move{
        font-size: 12.24vw;
        line-height: 121%;
        letter-spacing: 0.79vw;
        color: $color-text-on-image;
    }
    .small-text{
        font-size: 2.83vw;
        line-height: 98%;
        text-align: right;
        color: $color-text-on-image;
    }
    /* RIDE IT SECTION MOBILE VERSION */
    .ride__title{
        font-size: 10.79vw;
    }
    .ride-big-text{
        font-size: 2.83vw;
    }
    .item-point__text{
        font-size: 2.83vw;
    }
    .benefits__title{
        font-size: 2vw;
    }
    /* SECTION ON DRIVING ELEMENTS MOBILE VERSION */
    .drive-title{
        font-size: 3.49vw;
    }
    .element-description{
        font-size: 2.13vw;
    }
    .drive-title{
        font-size: 3.49vw;
    }
    .element-description{
        font-size: 2.13vw;
    }
    .drive-title{
        font-size: 7.06vw;
    }
    .element-description{
        font-size: 2.63vw;
    }
    .drive-title{
        font-size: 7.06vw;
    }
    .element-description{
        font-size: 2.63vw;
    }
    .element-drive__image{
        width: 220px;
        margin-bottom: 22px;
    }
    .drive-title{
        font-size: 3.75vw;
    }
    .element-description{
        font-size: 2.50vw;
    }
    /*SECTION STAY ON THE GO MOBILE VERSION*/
    .card-item__img{
        width: 53.82vw;
    }
    .stay-on-the-go__description{
        width: 53.82vw;
        font-size: 2.64vw;
    }
    .card-item__description{
        width: 53.82vw;
        margin: 5.35vw 0;
        font-size: 2.60vw;
    }
    .section__cards{
        display: flex;
        justify-content:  flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    } 
    .footer__title{
        font-size: 5.90vw;
    }
    .footer__subtitle{
        font-size: 2.50vw;
        margin-left: 25.88vw;
        margin-right: 25.88vw;
    }
    }
    /*FOOTER*/
@media (max-width: 1240px){
    .footer__bg {
        display: none;
    } 
    .footer__description{
        max-width: 100%;
    }        

}